# This file is there to block the adding of not working shaarli
# or duplicate (https / http)
# If string on line is found in URL, then skip the add

# Examples of rules :

http://exemple.com/
# will block http://exemple.com/*
# like http://exemple.com/plop

exemple.com
# will block *exemple.com*
# http://exemple.com
# https://exemple.com
# https://exemple.com/plop
# https://plop.exemple.com/

# HS from https://github.com/Oros42/shaarlis_list
shaarli.fr #85 shaarli
://afnet.esy.es/?do=rss
://angeraph.fr/shaarli/?do=rss
://arzhura.dsv.re/shaarli/?do=rss
://bajazet.fr/shaarli/?do=rss
://barbrousse.net/Notes/?do=rss
://biniou.shost.ca/Shaarli/?do=rss
://cesselin.eu/shaarli/?do=rss
://costumescrime.net/shaarli/?do=rss
://dhoko.me/liens/?do=rss
://dial.contestataire.net/?do=rss
://dsvprn.eu/shaarli?do=rss
://exystenz.com/links/?do=rss
://eyes-of-universe.eu/shaarli?do=rss
://fralef.me/links/?do=rss
://fspot.org/lnk/?do=rss
://garfi.fr/links?do=rss
://hoab.fr/shaarli/?do=rss
://home.penthium2.org/linker/?do=rss
://husimo.fr/shaarli/?do=rss
://kaelsitoo.fr/shaarli-kaelsitoo/?do=rss
://lafouinebox.fr/Shaarli/?do=rss
://lafrite.poneyworld.net/liens/?do=rss
://li.sajous.net/?do=rss
://liens.jdxlabs.com/?do=rss
://link.alexisvuillaume.com/?do=rss
://links.aurem.org/?do=rss
://links.belfalas.eu/?do=rss
://links.rom1v.com/?do=rss
://links.subiron.org/?do=rss
://lolop.net/links?do=rss
://lp.mu/shaarli/?do=rss
://ludo.amok.free.fr/shaarli/?do=rss
://mayaweb.fr:4443/links/?do=rss
://mut.angenoir.me/liens/?do=rss
://nabella.digital-engine.info/shaarli/?do=rss
://nas.eownis.me/shaarli/?do=rss
://patlinks.cvidal.org/?do=rss
://perso.ens-lyon.fr/guillaume.aupy/shaarli/?do=rss
://ponyhacks.com/?do=rss
://purexo.eu/shaarli/?do=rss
://r2dd2.org/links/?do=rss
://rdmz.lockhart.fr/shaarli/?do=rss
://shaarli.bananium.fr/?do=rss
://shaarli.callmematthi.eu/?do=rss
://shaarli.e-loquens.fr/?do=rss
://shaarli.e-loquens.fr/shaarli/?do=rss
://shaarli.ithake.eu/?do=rss
://shaarli.kentaro.be/?do=rss
://shaarli.kori.linelo.fr?do=rss
://shaarli.matronix.fr/?do=rss
://shaarli.muges.fr?do=rss
://shaarli.oatv.info/?do=rss
://shaarli.tech-blog.fr/?do=rss
://shaarli.unanargeek.xyz?do=rss
://shaarli.wackou.com/?do=rss
://shaarli.warriordudimanche.net/?do=rss
://share-link.olympe.in/?do=rss
://spynaej.eu/links/?do=rss
://srv.dgir.fr/shaarli/?do=rss
://stuper.info/shaarli/?do=rss
://syntaxeror.bl.ee/?do=rss
://thomasd.eu/shaarli/?do=rss
://tviblindi.legtux.org/shaarli/?do=rss
://unblogungeek.toile-libre.org/shaarli?do=rss
://www.angeraph.fr/shaarli
://www.costumescrime.net/shaarli/?do=rss
://www.disparaitre-ici.fr/services/shaarli/?do=rss
://www.endepitdubonsens.fr/vrac/?do=rss
://www.f.0x2501.org/s/?do=rss
://www.ladmasma.fr/shaarli/?do=rss
://www.librement-votre.fr/shaarli/?do=rss
://www.mygaia.org/shaarli/?do=rss
://www.petitetremalfaisant.eu/shaarli/?do=rss
://www.rakforgeron.fr/shaarli/?do=rss
://www.tolima.fr/shaarli/?do=rss
://www.tribuleblanc.com/shaarli/?do=rss
://www.viggor.eu/shaarli/?do=rss
://yggz.org/Shaarli/?do=rss